body{
    background-color: azure;
}

input{
    width: 100%;
    height: 30px;
    margin-top: 3px;
    border-radius: 0px 5px 0px 5px;
    border-width: 0.5px;
}

button{
    margin-top: 5px;
    margin-left: 110px;
    width: 70px;
}

button:hover{
    transform: scale(1,1.15);
    background-color: #C1F27F;
    border-radius: 5px;
    color: #000;
}

input:hover{
    border-radius: 5px;
}

.formulario{
    padding: 12px;
    margin: auto;
    margin-top: 15%;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ADC8FF;
}

.titulo{
    text-align: center;
}